#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
*_u.c
*_u.h
*_t.c
*_t.h

#output files
/build/
/linux/installer/bin/*.bin
.worktrees/
.runtime-lib/
collateral_cache/
/results/
SampleCode/MutualAttestationQuoteBenchmark/.config_*
SampleCode/MutualAttestationQuoteBenchmark/app
SampleCode/MutualAttestationQuoteBenchmark/quote_helper
SampleCode/MutualAttestationQuoteBenchmark/mage.bin
SampleCode/MutualAttestationQuoteBenchmark/genmage.out
SampleCode/MutualAttestationQuoteBenchmark/.config_*
SampleCode/MutualAttestationQuoteBenchmark/*.so
SampleCode/MutualAttestationQuoteBenchmark/**/*.o
SampleCode/MutualAttestationQuoteBenchmark/App/Enclave_u.*
SampleCode/MutualAttestationQuoteBenchmark/Enclave/Enclave_t.*
__pycache__/
*.pyc
